@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Nunito:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;


}


body {
    font-family: "Nunito", sans-serif;
}


.loader {
    position: absolute;
    background: #fff;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.loader::after {
    content: "";
    width: 12px;
    height: 12px;
    display: flex;
    border-radius: 50%;
    margin: 15px auto;
    color: #0b0b0b;
    box-sizing: border-box;
    animation: animloader 2s linear infinite;
}

.loader--hidden {
    opacity: 0;
    visibility: hidden;
}

@keyframes animloader {
    0% {
        box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 -2px;
    }

    25% {
        box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 2px;
    }

    50% {
        box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 2px, -38px 0 0 -2px;
    }

    75% {
        box-shadow: 14px 0 0 2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 -2px;
    }

    100% {
        box-shadow: 14px 0 0 -2px, 38px 0 0 2px, -14px 0 0 -2px, -38px 0 0 -2px;
    }
}

#gg {
    background-color: #2e7e44;
}

/*---------main page--------------------*/


/*------------notice section------------*/


.bottom-page {
    /* background-color: blue; */
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0;

}

.msg-info {
    width: 90%;
}

.msg-info,
.notices {
    border-radius: 8px;
    margin: 20px;
    background-color: #e7f4f6;
    margin-top: 50px;
    padding: 20px;
    text-align: center;
    /* overflow-y: scroll; */
    box-shadow: 8px 5px 8px 5px rgba(0, 0, 0, 0.281);

}

.bottom-page {
    background: #f3f8f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notice-box {
    overflow-y: scroll;
    height: 75%;
}

.notices hr {
    width: 80%;
    position: relative;
    left: 10%;
    top: -1%;
    background: #2e7e44;
}

.msg-info h1,
.msg-right h1,
.notices h1 {
    margin: 20px;
    font-weight: 900;
    color: #2e7e44;
    font-size: 45px;
    font-family: "Nunito", sans-serif;
    /* text-decoration: underline #2e7e44 3px; */

}

.msg-info p,
.msg-right p,
.notices ul {
    padding: 10px;
    text-align: left;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    margin-top: 20px;
}

.notice-box {
    overflow: auto;

}


.notices ul li {
    list-style: none;
    margin: 20px;
    color: black;
    animation: ease 16s infinite;
    /* animation: my-animation 5s linear infinite; */
    font-size: 15px;

}

.notices ul li a {
    text-decoration: none;

}

.notices {
    max-height: 530px;
}


.msg-right {
    width: 60%;
    border-radius: 15px;
    background-color: #e7f4f6;
    margin: 20px;
    margin-top: 50px;
    padding: 20px;
    text-align: center;
    box-shadow: 8px 5px 8px 5px rgba(0, 0, 0, 0.281);
}

.right-con-box {
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
}




/*-----------toppers list-----------------*/

.toppers-title {
    padding: 10px;
    margin: 20px 0;
    font-family: "Nunito", sans-serif;
    color: #2e7e44;
    font-weight: 700;
    width: 90%;
}

.toppers-list {
    display: flex;
    justify-content: space-evenly;
    margin: 60px 0;
}

.right-list,
.left-list {
    padding: 30px;
    border-radius: 8px;
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #4c9ea01c;
    box-shadow: 8px 5px 8px 5px rgba(0, 0, 0, 0.281);
    /* background-color: #eaf93e; */
    margin: 0 0 20px 0;
}



.list-con-seq {
    padding: 10px;
    display: flex;
    width: 260px;
}

.list-con-seq span img {
    height: 120px;
    width: 90px;
    border-radius: 6px;
}


.list-con-seq p {
    text-align: initial;
}

#sport-img img {
    height: 150px;
    width: 125px;
}

.text {
    position: relative;
    margin-left: 10px;
}

.mts {
    text-align: center;
    font-size: 30px;
    margin: 40px;
    color: #2e7e44;
    text-decoration: underline;
    font-family: "Nunito", sans-serif;
    word-spacing: 5px;
    letter-spacing: 2px;
    margin-top: 90px;
    margin-bottom: 5px;

}


.hall-of-fame-poster {
    margin: 80px 0;
}

.hall-of-fame-poster h1 {
    text-align: center;
    margin: 20px 0;
    padding: 20px 0;
    text-align: center;
    font-size: 50px;
    color: #2e7e44;
    font-family: "Nunito", sans-serif;
    text-decoration: underline;
    font-weight: 700;
    word-spacing: 5px;
    letter-spacing: 2px;
    background: #4f565d1c;
}

.poster-img {
    display: flex;
    justify-content: space-around;
    margin: 30px 0;

}

.poster-img img {
    width: 90%;
    border-radius: 8px;
    box-shadow: 5px 6px 6px rgba(0, 0, 0, 0.281);
}



.animated-text {
    opacity: 0;
    /* initially hide the text */
    animation: fadeIn 2.5s ease forwards;
    /* apply the fadeIn animation */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        /* start with fully transparent */
        transform: translateY(150px);
        /* slide down a bit */
    }

    to {
        opacity: 1;
        /* end with fully opaque */
        transform: translateY(0);
        /* slide back to original position */
    }
}





/*-------------------media screen 1200-----------------*/
@media only screen and (min-width:807px) and (max-width:1200px) {
    .alignment-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .notices {
        width: 45%;
    }
}


@media only screen and (min-width:776px) and (max-width:807px) {


    .alignment-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


}


@media only screen and (max-width:775px) {
    .msg-info p {
        font-size: 12px;
    }

    .class-tops,
    .sports-top {
        width: 90%;
        margin-bottom: 65px;
    }

    .toppers-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .right-list,
    .left-list {
        width: 90%;
        margin: 10px 10px;
    }

    .right-con-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .msg-right {
        width: 90%;
    }

    .msg-right h1 {
        font-size: 32px;
        font-weight: 500;
    }

    .msg-right p {
        font-size: 12px;
    }

    .notices {
        width: 90%;
    }

    .poster-img img {
        width: 90%;
    }

    .hall-of-fame-poster h1 {
        font-size: 28px;
    }


}























/*------------------ResponsiveNess-----------------*/

@media only screen and (max-width: 1085px) {
    .bottom-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .msg-info {
        width: 90%;
    }

    .notice-box {
        overflow-y: scroll;
    }

    .notices ul {
        overflow: hidden;
    }

    .mts h1 {
        font-size: 30px;
        font-weight: 800;
    }

    .mts {
        margin-top: 45px;
        margin-bottom: 45px;
    }


    .msg-info h1 {
        font-size: 32px;
        font-weight: 500;
    }

    .right-con-box {
        width: 100%;
    }

    .toppers-list {
        margin: 15px 0;
    }

}